@import "tailwindcss";

:root,
[data-theme="blue"] {
  --spacing-content-max: 1280px;
  --background: #fbfafa;
  --on-background: #ffffff;
  --on-surface-variant: #0000007f;
  --tertiary: #070d1d;
  --foreground: #171717;
  --primary: #1e4394;
  --on-primary: #ffffff;
  --priamry-surface: #e8ecf4;
  --primary-border: #cfd5e6;
  --secondary: #ff7474;
  --on-secondary: #ffffff;
}

[data-theme="orange"] {
  --primary: #ff7474;
  --on-primary: #ffffff;
  --primary-surface: #fbeded;
  --primary-border: #ffcdcd;
  --secondary: #1e4394;
  --on-secondary: #ffffff;
  --secondary-surface: #e8ecf4;
  --secondary-border: #cfd5e6;
}

@theme inline {
  --spacing-content-max: var(--spacing-content-max);

  --color-background: var(--background);
  --color-on-background: var(--on-background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-on-primary: var(--on-primary);
  --color-primary-border: var(--primary-border);

  --color-secondary: var(--secondary);
  --color-on-secondary: var(--on-secondary);

  --color-tertiary: var(--tertiary);

  --color-primary-surface: var(--primary-surface);
  --color-on-surface-variant: var(--on-surface-variant);

  --color-primary-border: var(--primary-border);

  --font-line-seed: var(--font-line-seed);
  --font-mono: var(--font-geist-mono);
}

body {
  @apply text-foreground bg-background;
}

a.faq-links {
  @apply text-primary underline;
}

ol {
  @apply ml-6 list-decimal;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  @apply hidden [-webkit-appearance:none];
}
