@import "tailwindcss";

:root {
  --background: #fbfafa;
  --on-background: #ffffff;
  --on-surface-variant: #0000007f;
  --foreground: #171717;
  --primary: #1e4394;
  --on-primary: #ffffff;
  --primary-border: #cfd5e6;
  --secondary: #ff7474;
  --on-secondary: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-on-background: var(--on-background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-on-primary: var(--on-primary);

  --color-secondary: var(--secondary);
  --color-on-secondary: var(--on-secondary);

  --color-on-surface-variant: var(--on-surface-variant);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "LINE Seed Sans TH", sans-serif;
}
