@import "tailwindcss";

:root {
  --spacing-content-max: 1280px; 

  --background: #fbfafa;
  --on-background: #ffffff;
  --primary-surface: #e8ecf4;
  --on-surface-variant: #0000007f;
  --foreground: #171717;
  --primary: #1e4394;
  --priamry-surface: #e8ecf4;
  --on-primary: #ffffff;
  --primary-border: #cfd5e6;
  --secondary: #ff7474;
  --on-secondary: #ffffff;
  --teitiary: #070d1d;
}

@theme inline {
  --spacing-content-max: var(--spacing-content-max);

  --color-background: var(--background);
  --color-on-background: var(--on-background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-on-primary: var(--on-primary);
  --color-primary-border: var(--primary-border);

  --color-secondary: var(--secondary);
  --color-on-secondary: var(--on-secondary);

  --color-teitiary: var(--teitiary);

  --color-primary-surface: var(--primary-surface);
  --color-on-surface-variant: var(--on-surface-variant);

  --color-primary-border: var(--primary-border);

  --font-line-seed: var(--font-line-seed);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
